<div class="<%= div[:class] %>">
  <button class="dropdown-toggle <%= button[:class] %>" type="button" id="<%= button[:id] %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= button[:caption] %>
  </button>
  <div class="dropdown-menu" aria-labelledby="<%= button[:id] %>">
    <%= content %>
  </div>
</div>
